#chat-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  cursor: pointer;
}

#chat-widget {
  position: fixed;
  bottom: 150px;
  right: 20px;
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

#chat-widget.closed {
  transform: translateY(100%);
  bottom: 0px;
}

#chat-container {
  height: 640px;
  /* padding: 10px; */
  overflow-y: auto;
}

#chat-container::-webkit-scrollbar {
  width: 4px; /* Largura da barra de rolagem */
}

#chat-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Cor de fundo da barra de rolagem */
}

#chat-container::-webkit-scrollbar-thumb {
  background-color: #309cdb; /* Nova cor da barra de rolagem */
  border-radius: 4px; /* Raio da borda da barra de rolagem */
}

#chat-container::-webkit-scrollbar-thumb:hover {
  background: #1a6dbb; /* Cor da barra de rolagem ao passar o mouse */
}

#chat-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  z-index: 9998;
}

#chat-messages {
  margin-bottom: 80px;
  scroll-behavior: smooth;
  overflow-y: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8em;
  padding: 15px;
}



#user-form {
  position: absolute;
  bottom: 0;
  width: calc(100% - 20px);
  display: flex;
  align-items: center;
}

#user-input {
  flex: 1;
  margin-right: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 7px;
  border: 1px #ccc solid;
  background: #fff;
  height: 20px;
  border-radius: 60px;
}

#user-form button {
  height: 40px;
  background-color: #309cdb;
  color: white;
  border: none;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 0px 10px;
  cursor: pointer;
  border-radius: 5px;
}

#user-form button:hover {
  background-color: #cceffe;
  color: #000;
}

.user-message {
  background-color: #cceffe;
  color: #000;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: right;
}

.typing-indicator {
  font-style: italic;
  color: #aaa;
}

.server-response {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  text-align: left;
  line-height: 20px;
}

.response-image {
  max-width: 100%;
  height: auto;
}

#chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  border: none;
  height: 50px;
  background: #f0f0f0;
  font-family: sans-serif;
}

#chat-title {
  margin-left: 10px;
}

#close-button {
  margin-right: 10px;
}

.form-container {
  width: 100%;
}

